# linux
*
!.gitignore
!.gitconfig

# files
!.xinitrc
!.xprofile
!.bashrc
!.zshrc
!install
!make.conf
!notes
!README.md

# folders
!.icons
!.themes
# !.fonts

# config
!.config

!.config/rofi
!.config/rofi/config.rasi

!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal/accels.scm

!.config/xfce4/xfconf
!.config/xfce4/xfconf/xfce-perchannel-xml
!.config/xfce4/xfconf/xfce-perchannel-xml/*
.config/xfce4/xfconf/xfce-perchannel-xml/pointers.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml

!.vscode
!.vscode/extensions
!.vscode/extensions/extensions.json

!.config/google-chrome
!.config/google-chrome/Default
!.config/google-chrome/Default/Bookmarks


!.librewolf
!.librewolf/ymugjo1q.default-default
!.librewolf/ymugjo1q.default-default/places.sqlite

!.config/yazi
!.config/yazi/*


# wallpapers

!Pictures
!Pictures/gentoo.png
!Pictures/gentoo_cow.png
!Pictures/gentoo_spaceship.png
!Pictures/eve_gate_loop.video
!Pictures/eve.png
